/* ESTILOS GENERALES */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* ENCABEZADO */

.encabezado {
    background-color: #c49ef5;
    color: white;
    padding: 35px;
}

.encabezado h1 {
    font-size: 42px;
    font-weight: 700;
}


/* MENÚ */

.barra-navegacion {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.barra-navegacion a {
    flex-shrink: 0;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #7e4594;
}

.menu a {
    color: white;
}

.menu a:hover {
    background-color: #bb8fce;
    color: white;
}


/* BANNER 

.banner {
    background-color: #cc91e7;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #400046;
}

.banner h1 {
    font-size: 45px;
    font-weight: 700;
}
*/

/* BOTONES */

.boton {
    background-color: #8e44ad;
    color: white;
}

.boton:hover {
    background-color: #6c3483;
}


/* SECCIONES */

.seccion {
    padding: 55px 20px;
}


/* TITULOS */

.titulo {
    color: #6c3483;
    font-weight: 700;
}


/* TARJETAS */

.tarjeta {
    background-color: white;
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
}

.tarjeta h3 {
    color: #6c3483;
}


/* ESPACIO PARA LAS IMÁGENES */

.espacio-imagen {
    height: 220px;

    background-color: #eadcf0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #6c3483;
}

.imagen-producto {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* SECCIÓN DE MATERIALES */

.materiales .w3-content {
    border-bottom: 5px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.materiales {
    background-color: #f5eef7;
}

.tarjeta-material {
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.tarjeta-material h3 {
    color: #8e44ad;
}

.tarjeta-material li {
    padding: 12px;
}

.tarjeta-material i {
    color: #8e44ad;
}

/* SECCIÓN COMENTARIOS */

.comentarios {
    padding: 40px 20px;
}

.formulario-google {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.formulario-google iframe {
    width: 100%;
    max-width: 640px;
    min-height: 565px;
    border: none;
    border-radius: 15px;
}

/* COMENTARIOS 

.comentarios {
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.comentarios input,
.comentarios textarea {
    border-radius: 10px;
}

.boton {
    border-radius: 10px;
} */

/* PIE DE PÁGINA */

.pie-pagina {
    background-color: #7e4594;
    color: white;

    text-align: center;

    padding: 35px;
}


/* RESPONSIVIDAD */

@media screen and (max-width: 600px) {

    .encabezado h1 {
        font-size: 30px;
    }

    .banner h1 {
        font-size: 32px;
    }

    .menu a {
        width: 100%;
        text-align: center;
    }

}

@media (max-width: 600px) {
    .menu a {
        font-size: 12px;
        padding: 8px 5px !important;
    }
}

@media screen and (max-width: 600px) {

    .barra-navegacion {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .barra-navegacion a {
        width: auto !important;
        text-align: center;
        font-size: 12px;
        padding: 8px 2px !important;
    }

    .barra-navegacion a:nth-child(1) {
        grid-column: span 2;
    }

    .barra-navegacion a:nth-child(2) {
        grid-column: span 2;
    }

    .barra-navegacion a:nth-child(3) {
        grid-column: span 2;
    }

    .barra-navegacion a:nth-child(4) {
        grid-column: 2 / span 2;
    }

    .barra-navegacion a:nth-child(5) {
        grid-column: 4 / span 2;
    }

    .encabezado {
        padding-top: 100px;
    }

}
